<!doctype html>
<html>
<head>
  <title>Ratings, where password security is top notch!</title>
</head>

<body>
  Ratings, where password security is top notch!
  <hr>
{% if session.get('email') %}
<a href="/logout">Logout</a> | <a href="/user_profile">View your profile</a>
{% else %}
<a href="/login">Log In</a> | <a href="/register">Register</a>
{% endif %}
| <A HREF="/">HOME</a>

<ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
  {% block content %} put your content here {% endblock %}

</body>
</html>