{% extends 'base.html' %}

{% block content %}

<h1>User Profile</h1>

<ul>
<li>ID: {{ jinja_user.user_id }}</li>
<li>Age: {{ jinja_user.age }}</li>
<li>Zipcode: ({{ jinja_user.zipcode }})</li>
</ul>

<a href="/movies">Rate more movies</a>
<h2>Movies:</h2>
<table>
    <tr><th>
        Movie Title
    </th><th>
        Your Rating
    </th>
    {% for rating in jinja_ratings %}
    <tr><td>
        <a href="/movie-info/{{ rating.movie.movie_id }}">{{ rating.movie.title }}</a>
    </td><td>
        {{ rating.score }}
    </tr>
    {% endfor %}
</table>



{% endblock %}